<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Provide the body JS links at the bottom of all web pages-->
<body>
<div id="body-scripts" th:fragment="body-scripts">

    <script src="/plugins/adminlte/js/adminlte.js" th:src="${baseUrl + '/plugins/adminlte/js/adminlte.js'}"></script>
    <script src="/plugins/cookiealert/cookiealert.js" th:src="${baseUrl + '/plugins/cookiealert/cookiealert.js'}"></script>

    <!--Custom Scripts-->

    <!--JS Constants-->
    <script src="/js/constants.js" th:src="${baseUrl + '/js/constants.js'}"></script>

    <!--JS Helpers-->
    <script src="/js/helpers.js" th:src="${baseUrl + '/js/helpers.js'}"></script>

    <!--Snippets-->
    <script src="/js/snippets/spinners/loading.js" th:src="${baseUrl + '/js/snippets/spinners/loading.js'}"></script>
    <script src="/js/snippets/alerts/error.js" th:src="${baseUrl + '/js/snippets/alerts/error.js'}"></script>
    <script src="/js/snippets/alerts/success.js" th:src="${baseUrl + '/js/snippets/alerts/success.js'}"></script>

    <!--Conditionally Render Script for Contact Page-->
    <script th:if="${request.getRequestURI().equals('/contact')}" src="/js/contact.js" th:src="${baseUrl + '/js/contact.js'}"></script>
</div>
</body>
</html>