<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Provide the body JS links at the bottom of all web pages-->
<body>
<div id="body-scripts" th:fragment="body-scripts">

    <script src="/plugins/adminlte/js/adminlte.js" th:src="${baseUrl + '/plugins/adminlte/js/adminlte.js'}"></script>
    <script src="/plugins/cookiealert/cookiealert.js" th:src="${baseUrl + '/plugins/cookiealert/cookiealert.js'}"></script>

    <!--Custom Scripts-->

    <!--JS Constants-->
    <script src="/js/constants.js" th:src="${baseUrl + '/js/constants.js'}"></script>

    <!--JS Helpers-->
    <script src="/js/helpers.js" th:src="${baseUrl + '/js/helpers.js'}"></script>

    <!--JS OOP-->
    <script src="/js/oop/PicGridSelector.js" th:src="${baseUrl + '/js/oop/PicGridSelector.js'}"></script>

    <!--Snippets-->
    <script src="/js/snippets/spinners/loading.js" th:src="${baseUrl + '/js/snippets/spinners/loading.js'}"></script>
    <script src="/js/snippets/alerts/error.js" th:src="${baseUrl + '/js/snippets/alerts/error.js'}"></script>
    <script src="/js/snippets/alerts/success.js" th:src="${baseUrl + '/js/snippets/alerts/success.js'}"></script>

    <!--Conditionally Render Script to Logout-->
    <script src="/js/logout.js" th:src="${baseUrl + '/js/logout.js'}"></script>

    <!--Conditionally Render Script for Contact Page-->
    <script th:if="${request.getRequestURI().equals('/contact')}" src="/js/contact.js" th:src="${baseUrl + '/js/contact.js'}"></script>

    <!--Conditionally Render Script for Register and Login Pages-->
    <script th:if="${request.getRequestURI().equals('/register')}" src="/js/register.js" th:src="${baseUrl + '/js/register.js'}"></script>
    <script th:if="${request.getRequestURI().equals('/login')}" src="/js/login.js" th:src="${baseUrl + '/js/login.js'}"></script>

    <!--Conditionally Render Script for Forgot and Reset Password Pages-->
    <script th:if="${request.getRequestURI().equals('/forgot-password')}" src="/js/forgot-password.js" th:src="${baseUrl + '/js/forgot-password.js'}"></script>
    <script th:if="${request.getRequestURI().contains('/reset-password')}" src="/js/reset-password.js" th:src="${baseUrl + '/js/reset-password.js'}"></script>

    <!--Conditionally Render Script for Profile Page-->
    <script th:if="${request.getRequestURI().equals('/dashboard/profile')}" src="/js/dashboard/profile.js" th:src="${baseUrl + '/js/dashboard/profile.js'}"></script>
</div>
</body>
</html>