<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--Provide the <head> tag to all HTML Pages -->
<head th:fragment="head">

    <!--Essential Tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--SEO Meta Tags-->
    <meta name="description" th:content="${pageDescription}" content="Default Description">
    <meta name="keywords" th:content="${pageKeywords} "content="Default Keywords">
    <meta name="author" content="Jose Brache Garcia">
    <meta property="og:title" th:content="${pageTitle}" content="Default Title">
    <meta property="og:description" th:content="${pageDescription}" content="Default description">
    <meta property="og:image" content="img/favicon.ico">
    <meta property="og:url" th:content="${pageUrl}" content="http://localhost:8080/">

    <!-- Title Tag -->
    <title th:text="${pageTitle}">Default Page Title</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="/img/favicon.ico" th:href="${baseUrl + '/img/favicon.ico'}" type="image/x-icon">

    <!--Plugin StyleSheets-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" th:href="${baseUrl + '/plugins/fontawesome-free/css/all.min.css'}">
    <link rel="stylesheet" href="/plugins/bootstrap-5/css/bootstrap.min.css" th:href="${baseUrl + '/plugins/bootstrap-5/css/bootstrap.min.css'}">
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.css" th:href="${baseUrl + '/plugins/adminlte/css/adminlte.css'}">
    <link rel="stylesheet" href="/plugins/cookiealert/cookiealert.css" th:href="${baseUrl + '/plugins/cookiealert/cookiealert.css'}">

    <!--Conditionally Render Summernote CSS for the Contact Page-->
    <link rel="stylesheet" th:if="${request.getRequestURI().equals('/contact')}" href="/plugins/summernote/summernote-bs5.min.css" th:href="${baseUrl + '/plugins/summernote/summernote-bs5.min.css'}">

    <!--Custom StyleSheets-->
    <link rel="stylesheet" href="/css/style.css" th:href="${baseUrl + '/css/style.css'}">

    <!--Conditionally Attach Dashboard Styles-->
    <link rel="stylesheet" th:if="${request.getRequestURI().contains('/dashboard')}" href="/css/dashboard.css" th:href="${baseUrl + '/css/dashboard.css'}">

    <!--Conditionally Attach Login and Register StyleSheets to their routes-->
    <link rel="stylesheet" th:if="${request.getRequestURI().equals('/login') || request.getRequestURI().equals('/forgot-password') || request.getRequestURI().contains('/reset-password')}" href="/css/login.css" th:href="${baseUrl + '/css/login.css'}">
    <link rel="stylesheet" th:if="${request.getRequestURI().equals('/register')}" href="/css/register.css" th:href="${baseUrl + '/css/register.css'}">

    <!--Dependency DOM Scripts-->
    <script src="/plugins/bootstrap-5/js/bootstrap.bundle.min.js" th:src="${baseUrl + '/plugins/bootstrap-5/js/bootstrap.bundle.min.js'}"></script>
    <script src="/plugins/jquery/jquery.min.js" th:src="${baseUrl + '/plugins/jquery/jquery.min.js'}"></script>
    <script src="/plugins/phonemask/src/jquery.min.js" th:src="${baseUrl + '/plugins/phonemask/src/jquery.mask.js'}"></script>

    <!--Conditionally Render Summernote JS for the Contact Page-->
    <script th:if="${request.getRequestURI().equals('/contact')}" src="/plugins/summernote/summernote-bs5.js" th:src="${baseUrl + '/plugins/summernote/summernote-bs5.js'}"></script>
</head>
</html>

