<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en">
<head th:replace="~{fragments/head.html :: head}"></head>
<body>
<div class="wrapper">
    <!--Import Dashboard Header-->
    <nav th:replace="~{fragments/dashboard-header.html :: dashboard-header}"></nav>
    <!--Import Dashboard Sidebar-->
    <aside th:replace="~{fragments/dashboard-sidebar.html :: dashboard-sidebar}"></aside>

    <!--Import the Dashboard Preloader-->
    <div th:replace="~{fragments/dashboard-preloader.html :: dashboard-preloader}"></div>

    <!--Place content of the index page here-->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 th:text="${springUserPossessiveName + ' Profile'}" class="text-nowrap">User Profile</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="/dashboard" th:href="${baseUrl + '/dashboard'}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Profile
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-secondary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="img-circle img-fluid elevation-3"
                                         width="64"
                                         src="/img/avatars/user.png"
                                         th:src="${springUserPicUrl}" alt="User Profile Picture"
                                    >
                                </div>
                                <h3 class="profile-username text-center" th:text="${springUserName}">
                                    Username
                                </h3>
                                <p class="text-muted text-center">
                                    <em><b>Hours Manager</b></em> User
                                </p>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Jobs Registered</b>
                                        <a class="float-right">3</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Total Hours Worked</b>
                                        <a class="float-right">112</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Total Earnings</b>
                                        <a class="float-right">$4567</a>
                                    </li>
                                </ul>
                                <a href="/dashboard/jobs" th:href="${baseUrl + '/dashboard/jobs'}" class="btn btn-secondary btn-block">
                                    Manage Jobs
                                </a>
                            </div>
                        </div>
                        <div class="card card-secondary mt-sm-4">
                            <div class="card-header d-flex flex-row">
                                <i class="fas fa-cogs"></i>
                                <h3 class="card-title w-100 text-center">Account Settings</h3>
                            </div>
                            <div class="card-body">
                                <p class="mt-3 d-flex flex-column">
                                    <button class="btn btn-outline-info btn-block" id="btn-delete-account-data">Delete Account Data</button>
                                    <button class="btn btn-outline-danger btn-block" id="btn-delete-account">Delete Account</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card mt-sm-4 mb-sm-4">
                            <div class="card-header p-2">
                                <p class="float-left text-muted">Profile Editor</p>
                                <ul class="float-right nav nav-pills">
                                    <li class="nav-item">
                                        <a href="#username-editor" class="nav-link active" data-bs-toggle="tab">
                                            Username
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#profile-pic-editor" class="nav-link" data-bs-toggle="tab">
                                            Profile Picture
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#password-editor" class="nav-link" data-bs-toggle="tab">
                                            Password
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div id="username-editor" class="tab-pane active">
                                        <form action="" class="form-horizontal" id="username-form">
                                            <div class="form-group row">
                                                <label for="username" class="col-md-2 col-form-label text-nowrap">Username</label>
                                                <div class="col-md-10">
                                                    <input type="text" name="username" id="username" class="form-control" value="Username" th:value="${springUserName}" placeholder="Enter your new username">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-md-2 col-md-10">
                                                    <div class="checkbox">
                                                        <label for="confirm-username">
                                                            <input id="confirm-username" type="checkbox">
                                                            I confirm I want to change my username
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-md-2 col-md-10">
                                                    <button type="submit" class="btn btn-primary" id="username-btn">Change Username</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="profile-pic-editor" class="tab-pane">
                                        <form action="" id="avatar-form">
                                            <div class="form-group">
                                                <label for="avatar" class="col-sm-2 col-form-label text-nowrap">Select an Avatar</label>
                                            </div>
                                            <div id="pic-grid-selector" class="form-group">
                                                <div class="container">
                                                    <div class="row d-flex justify-content-center align-items-center">
                                                        <!-- Loop through avatar images-->
                                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center p-2 m-2" th:each="i: ${#numbers.sequence(1, 12)}">
                                                            <img id="avatar" class="avatar" th:id="${'avatar-' + i }" src="/img/avatars/avatar-1.png" th:src="${baseUrl + '/img/avatars/avatar-' + i + '.png'}" alt="Avatar" th:alt="${'Avatar ' + i}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" name="avatar-url" id="avatar-url">
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" id="avatar-btn" class="btn btn-primary mt-3">Change Avatar</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="password-editor" class="tab-pane">
                                        <form action="" class="form-horizontal" id="password-form">
                                            <div class="form-group row">
                                                <label for="password" class="col-md-2 col-form-label text-nowrap">Password</label>
                                                <div class="col-md-10">
                                                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter your new password here">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-md-2 col-md-10">
                                                    <div class="checkbox">
                                                        <label for="confirm-password">
                                                            <input id="confirm-password" type="checkbox">
                                                            I confirm I want to change my password
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-md-2 col-md-10">
                                                    <button type="submit" class="btn btn-primary" id="password-btn">Change Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!--Body Scripts-->
<div th:replace="~{fragments/bottom.html :: body-scripts}"></div>
</body>
</html>